.wrapper_with_padding
	#doc_show
		%h1.title= @doc.title
		%p= @doc.content

		.buttons
			=link_to "All Docs", docs_path
			=link_to "Fix Doc", edit_doc_path(@doc)
			=button_to "Trash It", doc_path(@doc), method: :delete, data: {confirm: "Are you sure?" }