#banner
	.banner_content
	%h1 FileCabinet
	%p Your life's work. Organized. Always.
	.button 
		= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p The Bahamas is a coral-based archipelago in the Atlantic Ocean. Its 700-plus islands and cays range from uninhabited to packed with resorts. The northernmost, Grand Bahama, and Paradise Island, home to many large-scale hotels, are among the best known.	

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br 
		.button
			= link_to "Join Now", new_user_registration_path